---
layout: default
title: "phases"
permalink: /phases
titleAfter: ...Siren Construction Ltd.
priority: 1.0
---

<main class="main d-block mt-0">
  <!-- Hero Section -->
  <section class="mt-0 d-block">
    <div class="container-fluid m-0 p-0">
      <div class="row">
        <div
          class="col-lg-12 order-2 order-lg-1 d-flex flex-column justify-content-center m-0">
          <h1
            data-aos="fade-up"
            class="display-3 p-3 mt-4 text-center bg-dark text-light m-0">
            <span class="text-danger"> The </span> Process
            <span class="text-danger"><i class="bi bi-arrow-repeat"></i></span>
          </h1>
        </div>
      </div>
    </div>
  </section>

  <div class="row m-0" id="options">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row m-0">
        <div class="col-md-4">
          <a onclick="showtempean()">
            <div class="">
              <div class="m-1">
                <h5 class="p-3">Tempean Estate Manyangwa</h5>
                <img
                  src="assets/images/projects/t1.jpg"
                  class="img-fluid"
                  alt="" />
                <p class="text-center my-1">
                  <a
                    onclick="showtempean()"
                    class="btn w-100 text-light btn-danger">
                    See the phases
                  </a>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a onclick="showgate()">
            <div class="">
              <div class="m-1">
                <h5 class="p-3">Kampala Quality School Gate</h5>
                <img
                  src="assets/images/projects/g1.jpg"
                  class="img-fluid"
                  alt="" />
                <p class="text-center my-1">
                  <a
                    onclick="showgate()"
                    class="btn w-100 text-light btn-danger">
                    See the phases
                  </a>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <section style="display: none" id="tempean">
    <div class="row d-block">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <div class="col-12 mb-5">
              <h1 class="p-3">
                <i class="bi bi-1-circle-fill"></i> Sketching & Planning
              </h1>
              <p class="text-secondary px-3">Tempean Estate Manyangwa</p>
              <div
                id="carouselExample1"
                class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner p-3">
                  <div class="carousel-item active">
                    <img
                      src="assets/images/sketches/tempean1.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 1" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/tempean2.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 1" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/tempean3.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 2" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/tempean4.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/tempean5.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 1" />
                  </div>

                  <!-- Add more carousel items as needed -->
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExample1"
                  data-bs-slide="prev">
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExample1"
                  data-bs-slide="next">
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col-12 mb-5">
              <h1 class="p-3">
                <i class="bi bi-2-circle-fill"></i> Building & Construction
              </h1>
              <p class="text-secondary px-3">
                Tempean Estate Manyangwa <i class="bi"></i>
              </p>
              <div
                id="carouselExample2"
                class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner p-3">
                  <div class="carousel-item active">
                    <img
                      src="assets/images/sketches/t1.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 1" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/t2.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 2" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/t3.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/t4.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/t5.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>
                  <!-- Add more carousel items as needed -->
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExample2"
                  data-bs-slide="prev">
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExample2"
                  data-bs-slide="next">
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>

            <div class="col-12 mb-5">
              <h1 class="p-3">
                <i class="bi bi-3-circle-fill"></i> Finishing & Completion
              </h1>
              <p class="text-secondary px-3">
                Tempean Estate Manyangwa <i class="bi"></i>
              </p>
              <div
                id="carouselGazebo"
                class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner p-3">
                  <div class="carousel-item active">
                    <img
                      src="assets/images/projects/t8.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/projects/t1.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 1" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/projects/t3.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 2" />
                  </div>

                  <div class="carousel-item">
                    <img
                      src="assets/images/projects/t5.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/projects/t7.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>

                  <!-- Add more carousel items as needed -->
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselGazebo"
                  data-bs-slide="prev">
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselGazebo"
                  data-bs-slide="next">
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="sidebar d-blog">
              <h2 class="p-3 mb-4">All Blog Posts</h2>
              <ul class="list-unstyled my-5 blogslist">
                {% for post in site.posts %}
                <li><a class="" href="{{ post.url }}">{{ post.title }}</a></li>

                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <script src="assets/js/projects.js"></script>
      </div>
      <div class="col-md-1"></div>
    </div>
  </section>

  <section style="display: none" id="gate">
    <div class="row d-block">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <div class="col-12 mb-5">
              <h1 class="p-3">
                <i class="bi bi-1-circle-fill"></i> Sketching & Planning
              </h1>
              <p class="text-secondary px-3">Kampala Quality School Gate</p>
              <div
                id="gatecarousel"
                class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner p-3">
                  <div class="carousel-item active">
                    <img
                      src="assets/images/sketches/GATE4.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 1" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/GATE5.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 4" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/GATE3.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 4" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/GATE2.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 4" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/GATE1.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 4" />
                  </div>

                  <!-- Add more carousel items as needed -->
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#gatecarousel"
                  data-bs-slide="prev">
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#gatecarousel"
                  data-bs-slide="next">
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col-12 mb-5">
              <h1 class="p-3">
                <i class="bi bi-2-circle-fill"></i> Building & Construction
              </h1>
              <p class="text-secondary px-3">
                Kampala Quality School Gate <i class="bi"></i>
              </p>
              <div
                id="gatecarousel2"
                class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner p-3">
                  <div class="carousel-item active">
                    <img
                      src="assets/images/sketches/g1.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 1" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/GATE5.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 2" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/g6.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/sketches/g7.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>

                  <!-- Add more carousel items as needed -->
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#gatecarousel2"
                  data-bs-slide="prev">
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#gatecarousel2"
                  data-bs-slide="next">
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>

            <div class="col-12 mb-5">
              <h1 class="p-3">
                <i class="bi bi-3-circle-fill"></i> Finishing & Completion
              </h1>
              <p class="text-secondary px-3">
                Kampala Quality School Gate <i class="bi"></i>
              </p>
              <div
                id="gatecarousel3"
                class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner p-3">
                  <div class="carousel-item active">
                    <img
                      src="assets/images/projects/g1.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/projects/g2.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 1" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/projects/g3.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 2" />
                  </div>

                  <div class="carousel-item">
                    <img
                      src="assets/images/projects/g4.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="assets/images/projects/g5.jpg"
                      class="d-block w-100 img-fluid"
                      alt="Slide 3" />
                  </div>

                  <!-- Add more carousel items as needed -->
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#gatecarousel3"
                  data-bs-slide="prev">
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#gatecarousel3"
                  data-bs-slide="next">
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="sidebar d-blog">
              <h2 class="p-3 mb-4">All Blog Posts</h2>
              <ul class="list-unstyled my-5 blogslist">
                {% for post in site.posts %}
                <li><a class="" href="{{ post.url }}">{{ post.title }}</a></li>

                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <script src="assets/js/projects.js"></script>
      </div>
      <div class="col-md-1"></div>
    </div>
  </section>

  <script src="assets/js/phases.js"></script>
  <script>
    window.onload = function () {
      if (localStorage.getItem("showPhasesTempean") === "true") {
        showtempean();
        localStorage.removeItem("showPhasesTempean"); // Clear the flag
      }
      if (localStorage.getItem("showPhasesGate") === "true") {
        showgate();
        localStorage.removeItem("showPhasesGate"); // Clear the flag
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</main>
