<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center">
    <a href="/" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->

      <h4 class="sitename text-dark">
        <img src="assets/images/logo.png" alt="" /> Siren Construction
      </h4>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="/" class="active">Home</a>
        </li>
        <li>
          <a href="/portfolio" class="active">Portfolio</a>
        </li>
        <li>
          <a href="/blog" class="active">Blogs</a>
        </li>
        <li><a href="/phases">Phases</a></li>
        <!--   
       <li><a href="/blog">Blog</a></li>
         <li><a href="/projects">Services</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>Media</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i
          ></a>
          <ul>
            <li><a href="/gallery">Portfolio</a></li>
            <li class="dropdown">
              <a
                ><span>Documents</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="/newsletters">Newsletters</a></li>
                <li><a href="/proposals">Proposals</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="/career">Career</a></li> -->
        <li><a href="/contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
