.top-bar {
  background-color: #000;
}

.hero {
  background: url("..assets/images/bg/banner.jpg") no-repeat center center/cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.btn-warning {
  background-color: #ff6600;
  border-color: #ff6600;
}
